$custom-font-path: '../fonts/' !default;

@font-face {
  font-family: 'YoungSerif-Regular';
  src: url('#{$custom-font-path}YoungSerif-Regular.eot?');
  src: url('#{$custom-font-path}YoungSerif-Regular.eot?#iefix') format('embedded-opentype'),
       url('#{$custom-font-path}YoungSerif-Regular.woff?') format('woff'),
       url('#{$custom-font-path}YoungSerif-Regular.ttf?') format('truetype'),
       url('#{$custom-font-path}YoungSerif-Regular.svg?#YoungSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}