.footer {
  position: absolute;
  right: 65px;
  max-width: 150px;
  min-width: 100px;
  .references {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fa {
      color: $unless-red;
    }

  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 200px;
    min-width: 150px;
    .fa {
      font-size: 25px;
    }
  }
}