.navbar {
  position: relative;
  padding: 0 40px;
  margin: 0 auto;
  height: 128px;
  display: flex;
  align-items: center;
  .navbar-dropdown {
    position: absolute;
    right: 40px;
    bottom: 40px;
    .dropdown-toggle {
      border: none;
      background-color: white;
    }
  }

  a {
    text-decoration: none;
    .logo {
      font-family: "Arvo", "Helvetica", "sans-serif";
      font-weight: 700;
      font-style: italic;
      color: $unless-red;
      font-size: 46px;
    }
  }
}

@media (min-width: 1200px) {
  .navbar {
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .navbar {
    justify-content: center;
  }
}

.nav-dropdown {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 100px;
  height: 100px;
  .nav-box-relative {
    position: relative;
    .icon-container {
      position: absolute;
      top: -70px;
      right: -70px;
      height: 140px;
      width: 140px;
      background-color: $unless-red;
      transform: rotate(-45deg);
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .fa {
      margin: 15px;
      transform: rotate(45deg);
      color: white;
      display: block;
    }
  }
}
