.nav {
display: flex;
justify-content: flex-end;
align-items: center;
}

.logo {
  font-family: "Arvo", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 50px;
  color: $unless-red;
  margin: 30px;
  a {
    text-decoration: none;
    color: $unless-red;
  }
}