#about {
  .content {
    max-width: 800px;
    margin: 0 auto;
  }
  padding: 20px;
  width: 100%;
  background: $unless-blue;
  text-align: center;
  h2 {
    color: white;
    padding: 20px;
  }
  p {
    padding: 20px;
    color: white;
    text-align: left;
    line-height: 38px;
  }
  .subscribe {
   @media (max-width: 992px) {
    form {
      height: 400px;
      flex-direction: column;
    }
  }
  @media (min-width: 992px) {
    form {
      width: 600px;
      height: 200px;
    }
  }
  form {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .left, .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 100%;
    }
    textarea {
      height: 115px;
      border: none;
      padding: 10px;
    }
  }
  padding: 20px;
  label {
    color: white;
  }
  input {
    color: $unless-black;
    padding: 10px;
    border: 1px solid rgba(1,1,1,0.3);
  }
  .input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: baseline;
  }
  .button {
    padding: 10px;
    border: none;
    color: white;
    background: $unless-red;
  }
}
}
