#about {
  .content {
    max-width: 800px;
    margin: 0 auto;
  }
  padding: 20px;
  width: 100%;
  background: $unless-blue;
  text-align: center;
    color: white;
  h2 {
    padding: 20px;
  }
  p {
    padding: 20px;
    text-align: left;
    line-height: 38px;
  }

}
