.landing {
  h1 {
    font-weight: 700;
    font-style: italic;
    font-size: 60px;
    color: $unless-red;
  }
}

.placehold-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $unless-black;
}