.project-content {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  min-height: 300px;
  .optional-info li {
    // width: 200px;
  }

  .optional-info .video-project {
    text-align: center;
    width: 100%;
    margin: 35px 0px;
  }
  h2 {
    text-align: center;
    border-bottom: 2px solid $unless-red;
    padding: 20px;
  }
  p {
    line-height: 35px;
    max-width: 700px;
    margin: 0 auto;
  }
  a {
    color: $unless-red;
    text-decoration: none;
    .underline-left-to-right {
      width: 0;
      border-bottom: 2px solid $unless-red;
      transition: width 0.5s ease;
    }
    }
  }

  #carousel-example-generic {
    max-width: 500px;
    margin: 40px auto;
  }

  .nav-back {
    position: absolute;
    top: 38px;
    left: 50px;
    transform: scale(1) translateX(0px);
    transition: transform 200ms ease;
    &:hover {
      transform: scale(1.05) translateX(-5px);
    }
    a {
      color: $unless-red;
      font-size: 30pt;
      text-decoration: none;
      display: block;
    }
  }
