<p>We're located at B. Amsterdam.</p>
<div class="about-extra">
  <div class="references">
    <% link_to "http://b-buildingbusiness.com/amsterdam/" do %>
    <%= image_tag "logob.jpg", class: "avatar-square" %>
    <% end %>
    <% link_to "https://www.lewagon.com/" do %>
    <%= image_tag "lewagon.png", class: "avatar avatar-large" %>
    <% end %>
  </div>
</div>
