<div class="banner-home">
  <div class="banner-content">
    <p>
    <%= data.general.first.opening_text %>
    </p>
    <p>
      <%= data.general.first.tagline %>
    </p>
  </div>
</div>

<!--
<div class="center">
  <p class="swipe"> <span class="sentence sentence--show"><%= data.general.first.opening_text %></span><span class="sentence"><%= data.general.first.tagline %></span></p>
</div> -->
