<div id="footer">
  <div class="social">
    <% data.general.first.social.each do |social_media_item| %>
      <% link_to social_media_item.last do %>
        <i class="fa fa-<%= social_media_item.first %>"></i>
      <% end %>
    <% end %>
  </div>
  <a href="mailto:info@unless.io?SUBJECT=Hello World" class="email-link">
    info@unless.io
  </a>
</div>

