<form action="https://formspree.io/info@unless.io" method="POST" class="contact-form">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-6">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="John Smith" class="form-control">
      </div>
      <div class="form-group" id="bottom-input-left">
        <label for="email">Email:</label>
        <input type="email" name="_replyto" id="email" placeholder="johnsmith@google.com" class="form-control">
      </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-6">
      <div class="form-group">
        <label for="message">Your message to us:</label>
        <textarea type="text" name="message" id="message" placeholder="We would like to ask you about .. " class="form-control"></textarea>
      </div>
    </div>
    <input type="submit" value="Send" class='btn btn-red'>
  </div>
</form>