<div class="navbar">
  <% link_to "index.html" do %>
  <span class="logo">
    Unless
  </span>
  <% end %>
</div>
<div class="nav-dropdown visible-xs">
  <div class="nav-box-relative">
    <div class="icon-container" id="trigger-overlay">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</div>