<div class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-item">
      <a href="#" data-target="#about">
        About us
      </a>
      <div class="underline active"></div>
    </div>
    <div class="sidebar-item">
      <a href="#" data-target="#workflow">
        Workflow
      </a>
      <div class="underline"></div>
    </div>
    <div class="sidebar-item">
      <a href="#" data-target="#contact">
        Contact
      </a>
      <div class="underline"></div>
    </div>
  </div>
</div>