<div id="who">
  <div class="container">
    <div class="row">
      <% data.general.first.founders.each do |founder| %>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="profile-container">
          <div class="profile">
            <div class="profile-image" style="background-image: url('images/<%= founder.last.name %>.jpg')"></div>
            <div class="about">
              <p>
                <%= founder.last.bio %>
              </p>
            </div>
          </div>
          <div class="who-info">
            <h3>
              <%= founder.last.fullname %>
            </h3>
            <div class="who-social">
              <% founder.last.social.each do |social_link| %>
                <% link_to social_link[1] do %>
                  <i class="fa fa-<%= social_link[0] %>"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
