<div id="who">
  <div class="container">
    <div class="row">
      <% data.general.first.founders.each do |founder| %>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="profile-container">
          <div class="profile">
            <div class="profile-image" style="background-image: url('images/<%= founder.last.name %>.jpg')"></div>
            <div class="about">
              <p>
                <%= founder.last.bio %>
              </p>
            </div>
          </div>
          <h3>
            <%= founder.last.fullname %>
          </h3>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
